<div class="center-wrapper" data-ng-controller="sessionCtrl">
  <div class="center-content">
    <div class="row no-margin">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form role="form" class="form-layout">
          <div class="text-center mb15">
            <img data-ng-src="images/logo-case.png" />
          </div>

          <!-- <p class="text-center mb30">Welcome to {{app.name}}. Please sign in to your account</p> -->

          <div class="form-inputs">
            <input type="text" id="username" autofocus data-ng-model="user.username" class="form-control input-lg" placeholder="Tên đăng nhập">
            <input type="password" id="password" data-ng-model="user.password" class="form-control input-lg" placeholder="Mật khẩu">
          </div>

          <button class="btn btn-success btn-block btn-lg mb15" type="submit" data-ng-click="submit()">
            <span>Đăng nhập</span>
          </button>

          <p>

            <a ui-sref="user.signup">Create an account</a> ·
            <a ui-sref="user.forgot">Forgot your password?</a>

          </p>
        </form>
      </div>
    </div>

  </div>
</div>
