<div class="brand visible-xs">

  <!-- toggle offscreen menu -->
  <div class="toggle-offscreen">
    <offscreen class="visible-xs"></offscreen>
  </div>
  <!-- /toggle offscreen menu -->

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo-dark.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle chat sidebar small screen-->
  <div class="toggle-chat">
    <a href="javascript:;" class="hamburger-icon v2 visible-xs" data-ng-click="app.layout.isChatOpen = !app.layout.isChatOpen">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <!-- /toggle chat sidebar small screen-->

</div>

<ul class="nav navbar-nav hidden-xs">
  <li>
    <p class="navbar-text">
      {{$state.current.data.title}}
    </p>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right hidden-xs">
  <li>
    <a href="javascript:;" quick-launch>
      <i class="fa fa-circle-thin"></i>
    </a>
  </li>

  <li class="dropdown" dropdown>
    <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
      <i class="fa fa-bell-o"></i>
      <div class="status bg-danger border-danger animated bounce"></div>
    </a>
    <ul class="dropdown-menu notifications">
      <li class="notifications-header">
        <p class="text-muted small">You have 3 new messages</p>
      </li>
      <li>
        <ul class="notifications-list">
          <li>
            <a href="javascript:;">
              <span class="pull-left mt2 mr15">
                <img data-ng-src="images/avatar.jpg" class="avatar avatar-xs img-circle" alt="">
              </span>
              <div class="overflow-hidden">
                <span>Sean launched a new application</span>
                <span class="time">2 seconds ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pull-left mt2 mr15">
                <div class="circle-icon bg-danger">
                  <i class="fa fa-chain-broken"></i>
                </div>
              </div>
              <div class="overflow-hidden">
                <span>Removed chrome from app list</span>
                <span class="time">4 Hours ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <span class="pull-left mt2 mr15">
                                <img data-ng-src="images/face3.jpg" class="avatar avatar-xs img-circle" alt="">
                            </span>
              <div class="overflow-hidden">
                <span class="text-muted">Jack Hunt has registered</span>
                <span class="time">9 hours ago</span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="notifications-footer">
        <a href="javascript:;">See all messages</a>
      </li>
    </ul>
  </li>

  <li class="dropdown" dropdown>
    <a href="javascript:;" class="dropdown-toggle" dropdown-toggle>
      <img data-ng-src="{{user.avatar}}" class="header-avatar img-circle ml10" alt="user" title="user">
      <span class="pull-left">
        {{user.fname}} {{user.lname}}
      </span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="javascript:;">Settings</a>
      </li>
      <!-- <li>
        <a href="javascript:;">
          <span class="label bg-danger pull-right">34</span>
          <span>Notifications</span>
        </a>
      </li> -->
      <li>
        <a ui-sref="user.signin">Đăng xuất</a>
      </li>
    </ul>

  </li>

  <!-- <li>
    <a href="javascript:;" class="hamburger-icon v2" data-ng-click="app.layout.isChatOpen = !app.layout.isChatOpen">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </li> -->
</ul>
