<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
        <i class="fa fa-flask"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->


    <!-- forms -->
    <li data-ng-class="{open: $state.includes('app.forms')}">
      <a href="javascript:;">
        <i class="fa fa-tint"></i>
        <span>Forms</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.forms.native_forms">
            <span>Basic Forms</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.forms.upload">
            <span>File Upload</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /forms -->

    <!-- tables -->
    <li data-ng-class="{open: $state.includes('app.tables')}">
      <a href="javascript:;">
        <i class="fa fa-tag"></i>
        <span>Tables</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.tables.datatable">
            <span>Data Tables</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /tables -->



    <!-- ready pages -->
    <li data-ng-class="{open: $state.includes('app.apps')}">
      <a href="javascript:;">
        <i class="fa fa-send"></i>
        <span>Apps</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.apps.messages">
            <span>Messages</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /ready pages -->

    <!-- extras -->
    <li data-ng-class="{open: $state.includes('app.extras')}">
      <a href="javascript:;">
        <i class="fa fa-trophy"></i>
        <span>Extras</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.extras.invoice">
            <span>Invoice</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.extras.timeline">
            <span>Timeline</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.extras.sortable">
            <span>Sortable Lists</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.extras.nestable">
            <span>Nestable Lists</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.extras.search">
            <span>Search</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.signin">
            <span>Signin</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.signup">
            <span>Signup</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.forgot">
            <span>Forgot Password</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.lockscreen">
            <span>Lockscreen</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.404">
            <span>404 Page</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="user.500">
            <span>500 Page</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.extras.blank">
            <span>Starter Page</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /extras -->

    <!-- ui kit -->
<!--     <li ui-sref-active="active">
      <a ui-sref="app.widgets">
        <i class="fa fa-toggle-on"></i>
        <span>Widgets</span>
      </a>
    </li> -->
    <!-- /ui kit -->


  </ul>
</nav>
<!-- /main navigation -->
